#title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
}

*{
padding: 0;
margin: 0;
}

.main{
margin: 0 auto;
}
#n0{
margin-left: 54px;
}
.button{
width: 50px;
height: 50px;
font-size: 25px;
margin: 2;
}
.textview{
width: 211px;
height: 30px;
}